:root {
	--dark: #200E32;
	--subtle:#8C8CA1;
	--light: #ffffff;
	--gradient: linear-gradient(-20deg, #42DE95 20%, #4CF2D7 40%, #3FC9DE 70%);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 86vh;
	background: var(--gradient)}

header {
	padding-top: 10%;
	padding-left: 5%;
	padding-bottom: 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;

}

header h1{ 
	color: var(--dark);
	font-family: arial;
	font-size: 34px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.68px;
	font-weight: bold;
}
h1{
	text-align: start;
}

main h1{ 
	color: var(--dark);
	font-family: arial;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.68px;
	font-weight: bold;
	padding-bottom: 2%;
}

h2{
	text-align: start;
}

p{ 
	font-family: arial;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.68px;
}

.black-text {
	font-size: 16px;
	color: var(--dark);
}
  
.grey-text {
	font-size: 14px;
	color: grey;
}

.subtleText{ 
	color: var(--subtle);
	font-family: arial;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.68px;
	font-weight: bold;
}

.chatBox {
	background-color: var(--light);
	color: var(--dark);
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
  }

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.nav-item {
    color: var(--dark);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.4s;
}

.nav-item:hover {
    color: var(--light);
}

.nav-icon {
    width: 70px; /* Adjust the width and height according to your image size */
    height: 70px;
    margin-bottom: 0px; /* Adjust the margin to separate the image and text */
}
